# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# ML artifacts
# model.pkl      <-- comment out this line
# scaler.pkl     <-- comment out this line

# OS files
.DS_Store
